body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    height: 100vh;
    /* width: 100%;  */
}

a {
    text-decoration: none;
}

.page-bg {
    background-color:#1E1E1E;
}

.logo{
    padding: 40px;
    /* margin-top: 50px; */
    width: 100px;
}


.container-geral{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    
    
    
    
    
}

.container-login {
    display: flex;
    flex-direction: column;
    background-color: rgba(36, 34, 31, 1);
    width: 572px;
    height: 550px;
    border-radius: 4px;
    margin: 75px 190px;
    align-items: center;
}

.container-logo {
    width: auto;
    height: 100vh;
    margin: 0px;
    justify-content: center;
    align-items: center;

}

.header h1,p {
    margin: 0px;
    font-weight: bold;
}

.header h1 {
    margin-left: 10px;
}

.header p {
    text-align: left;
    margin-top: 15px;
    width: 100%;
}

.header {
    margin-bottom: 30px;
    margin-top: 30px;
    width: 350px;
}


.login-header {
    display: flex;
    margin: 0px;
    margin-top: 40px;
}

.login {
    margin: 0;
    /* padding: 30px; */
    width: 350px;
    height: 400px;
}

.header h1 {
    color: #D4CCB6;
}

.header p {
    color: #AFB6C2;
}

.login label{
    display: block;
    color: #AFB6C2;
    margin-bottom: 5px;
    
}

.login2 label{
    width: 50px;
}


.login2 {
    font-weight: bold;
}


.login2 input{
    padding: 0px;
    margin: 0px;
    background-color: rgba(36, 34, 31, 1);
    border: none;
}


.login2 input {
    width: 100%;
    height: 50px;
    font-size: 1rem;
}

.login2 input:focus {
    outline: none;
}

.mail {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    border: 2px solid rgba(134, 134, 134, 1);
    border-radius: 4px;
    position: relative;
}

.container-senha {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    border: 2px solid rgba(134, 134, 134, 1);
    border-radius: 4px;
    position: relative;
}

.mail img {
    margin-right: 8px;
    margin-left: 10px;
}

.container-senha img {
    margin-right: 8px;
    margin-left: 10px;
}

.focus {
    background-image: url("../img/mail.svg");
    background-repeat: no-repeat;
    /* width: 50px;
    height: 50px; */
    background-position: center;
}

.focus-senha {
    background-image: url("../img/lock.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}

.mail:hover {
    border: 2px solid rgba(255, 198, 50, 1);
}

.container-senha:hover {
    border: 2px solid rgba(255, 198, 50, 1);
}

.focus,
.hover-mail,
.hover-senha,
.focus-senha {
    width: 50px;
    height: 50px;
    /* transition: opacity 0.3s; */
}

.hover-mail{
    background-image: url("../img/mail-focus.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 12px;
    z-index: 2;
    position: absolute;
    opacity: 0; 

}

.mail:hover .hover-mail {
    opacity: 1;
    z-index: 2;
}

.hover-senha {
    background-image: url("../img/lock-focus.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 12px;
    z-index: 2;
    position: absolute;
    opacity: 0; 
}

.container-senha:hover .hover-senha{
    opacity: 1;
    z-index: 2;
}

.label-senha{
    margin-top: 25px;
}

.email {
    background-image: url("../img/eye.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 23px 23px;
    background-position-x: 265px;
}

.password {
    background-image: url("../img/eye.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 23px 23px;
    background-position-x: 265px;
}

.email:hover {
    background-image: none;
}

.password:hover {
    background-image: none;
}




.check-senha{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    text-align: center;
}

.checkbox {
    display: flex;
    margin: 0;
    
}

.checkbox label {
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.checkbox span {
    display: inline-block;
    margin-left: 6px;
}

.checkbox label input {
    width: 20px;
    height: 20px;
    margin: 0px;
    margin-right: 0px;  
}

input[type="checkbox"] {
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
  }

  .checkbox input[type="checkbox"] {
    background-color: rgba(36, 34, 31, 1); 
  }

  .checkbox input[type="checkbox"]:checked {
    background-color: rgba(255, 198, 50, 1);
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgba(255, 198, 50, 1);

  }

  .checkbox input[type="checkbox"] {
    border: 1px solid rgba(134, 134, 134, 1);
    border-radius: 3px;
  }




.entrar {
    background-color: #FFC632;
    color: #473404 ;
    padding: 18px 12px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 334px;
}

.botao {
    display: block;
    text-align: center;
    color: #473404;
    font-weight: bold;
    width: 100%;
}

.esqueci {
    color: #FFC632;
}

.registre-se {
    color: #FFC632;
}

.regis {
    margin: 0px;
    /* margin-top: 60px; */
    text-align: center;
    
}

.imagem {
    display: block;
    width: 100vh;
    height: 100vh;
    background: url("../img/side-image-2x.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}



@media (max-width: 850px) {
    .container-geral{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: auto;
        width: auto;
    }
    .container-logo{
        width:  auto;
        align-items: center;
        justify-content: center;


    }
    .imagem{
        background-image: none;
        width: 0px;
        height: 0px;
    }
    .logo{
        align-items: center;
        align-content: center;
        padding: 0px;
        margin: 10px 20px;
        width: auto;
        margin-top: 45px;
        margin-bottom: 0px;
    }
    body{
        height: 100%;
        width: 100%;
    }

    .container-login {
        margin: 0px;
        /* justify-content: center; */
        align-content: center;
        width: auto;
        height: auto;
        background-color: #1E1E1E;
    }

    .login2 input{
        background-color: #1E1E1E;
    }
    .checkbox input[type="checkbox"]{
        background-color: #1E1E1E;
    }
    .header {
        /* place-items: start; */
        margin-top: 0px;
        height: 110px;
    }
}