body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.page-bg {
    background-color:#1E1E1E;
}

.logo{
    padding: 40px;
    /* margin-top: 50px; */
    
}


.container-geral{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin: 0px;
    padding: 0px;
    height: 1000px;
    width: auto;
    /* margin-left: 150px; */
    
}

.container-login {
    display: flex;
    flex-direction: column;
    background-color: rgba(36, 34, 31, 1);
    width: 572px;
    height: 550px;
    border-radius: 4px;
    margin: 75px 190px;
    /* padding: 50px; */
    align-items: center;
}

.container-logo {
    height: 1000px;
    margin: 0px;
}

.header h1,p {
    margin: 0px;
    font-weight: bold;
}

.header p {
    text-align: left;
    margin-top: 15px;
    width: 100%;
}

.header {
    margin-bottom: 30px;
    margin-top: 30px;
    width: 350px;
}


.login-header {
    display: flex;
    margin: 0px;
    margin-top: 40px;
}

.login {
    margin: 0;
    /* padding: 30px; */
    width: 350px;
    height: 400px;
}

.header h1 {
    color: #D4CCB6;
}

.header p {
    color: #AFB6C2;
}

.login label{
    display: block;
    color: #AFB6C2;
    margin-bottom: 5px;
    width: 100%;
}

.login2 {
    font-weight: bold;
}


.login2 input{
    padding: 0px;
    margin: 0px;
    background-color: rgba(36, 34, 31, 1);
    border: none;
}


.login2 input {
    width: 100%;
    height: 50px;
    font-size: 1rem;
}

.login2 input:focus {
    outline: none;
}

.mail {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    border: 2px solid rgba(134, 134, 134, 1);
    border-radius: 4px;
    position: relative;
}

.container-senha {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    border: 2px solid rgba(134, 134, 134, 1);
    border-radius: 4px;
    position: relative;
}

.mail img {
    margin-right: 8px;
    margin-left: 10px;
}

.container-senha img {
    margin-right: 8px;
    margin-left: 10px;
}

.focus {
    background-image: url("../img/mail.svg");
    background-repeat: no-repeat;
    /* width: 50px;
    height: 50px; */
    background-position: center;
}

.focus-senha {
    background-image: url("../img/lock.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}

.mail:hover {
    border: 2px solid rgba(255, 198, 50, 1);
}

.container-senha:hover {
    border: 2px solid rgba(255, 198, 50, 1);
}

.focus,
.hover-mail,
.hover-senha,
.focus-senha {
    width: 50px;
    height: 50px;
    /* transition: opacity 0.3s; */
}

.hover-mail{
    background-image: url("../img/mail-focus.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 12px;
    z-index: 2;
    position: absolute;
    opacity: 0; 

}

.mail:hover .hover-mail {
    opacity: 1;
    z-index: 2;
}

.hover-senha {
    background-image: url("../img/lock-focus.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 12px;
    z-index: 2;
    position: absolute;
    opacity: 0; 
}

.container-senha:hover .hover-senha{
    opacity: 1;
    z-index: 2;
}

.label-senha{
    margin-top: 25px;
}



.check-senha{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
}

.checkbox {
    display: flex;
    margin: 0;
    
}

.checkbox label {
    margin: 0px;
}

.checkbox input {
    width: 20px;
    height: 20px;
    margin: 0px;
    margin-right: 5px;
    
}



.entrar {
    background-color: #FFC632;
    color: #473404 ;
    padding: 18px 12px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 15px;
    width: 334px;
}

.botao {
    color: #473404;
    font-weight: bold;
}

.esqueci {
    color: #FFC632;
}

.registre-se {
    color: #FFC632;
}

.regis {
    margin: 0px;
    /* margin-top: 60px; */
    text-align: center;
    
}

.imagem {
    width: 100%;
    height: 100%;
    background: url("../img/side-image-2x.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}